<h1>New Ideas</h1>

<div class="main-grid">
    <section class="posts">
        <div class="idea">
            <div class="idea-user">
                <a href=""><img src="images/john.png" alt="{{avatar}}"></a>
                <p>John Doe</p>
            </div>

            <div class="idea-content">
                <h3 class="idea-title">I think there should be a service where we can eat free food</h3>

                <div class="idea-details">
                    <img class="svg" src="images/clock.svg" alt="{{avatar}}">

                    <span>date July 7, 2019{{date}}</span>
                    <img class="svg" src="images/comment.svg" alt="{{avatar}}">

                    <span>20 comments{{date}}</span>
                </div>
            </div>

            <div class="idea-likes">
                <div class="vote-box">
                    <i class="fa fa-caret-up fa-2x"></i>
                    <p>243{{date}}</p>
                </div>
            </div>
        </div>

    </section>

    <section class="recommendation">
        <h3>Ideas of the week</h3>
        <ul>
            <li>this is the topic of the best one yeay</li>
            <li>this is the topic of the second best one okay !</li>
            <li>Hre is the first one this osijtaofar</li>
            <li>lpreno soitjaio is the ocldl jgoaijra</li>
            <li> aoijfoawjxe,f[paefoijxaf</li>
        </ul>
    </section>

    <section class="category">
        <h3>category</h3>
        <ul>
            <li>technology</li>
            <li>environment</li>
            <li>Education</li>
            <li>Entertainment</li>
            <li>Business</li>
            <li>Politics</li>
            <li>Design</li>
        </ul>
    </section>

</div>