<h1>New Ideas</h1>

<div class="main-grid">
    <section class="posts">
        {{#each posts}}
        <div class="idea">
            <div class="idea-user">
                <a href=""><img src="/images/john.png" alt="{{avatar}}"></a>
                <p class="name">{{this.name}}</p>
            </div>

            <div class="idea-content">
                <h3 class="idea-title">{{this.title}}</h3>

                <div class="idea-details">
                    <i class="fa fa-clock"></i>
                    <span>{{this.date}}</span>
                    <i class="fas fa-comments"></i>

                    <span>{{this.comments.length}} comments</span>
                </div>
            </div>

            <div class="idea-likes">
                <div class="vote-box">
                    <i class="fa fa-caret-up fa-2x"></i>
                    <p>{{this.likes.length}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </section>

    <section class="recommendation">
        <h3>Ideas of the week</h3>
        <ul>
            <li><span>this is the topic of the best one yeay</span> <i class="fa fa-caret-up fa-1x"></i></li>
            <li>this is the topic of the second best one okay !</li>
            <li>Hre is the first one this osijtaofar</li>
            <li>lpreno soitjaio is the ocldl jgoaijra</li>
            <li> aoijfoawjxe,fpaefoijxaf</li>
        </ul>
    </section>

    <section class="category">
        <h3>category</h3>
        <ul>
            <li>technology</li>
            <li>environment</li>
            <li>Education</li>
            <li>Entertainment</li>
            <li>Business</li>
            <li>Politics</li>
            <li>Design</li>
        </ul>
    </section>

</div>